/* Color Palette: 
Text: #3F3F3F
Background: #EDEDE9
Primary: #E3D5CA
Secondary: #F5EBE0
*/

/* I used replit assistant to identify why my margins weren't applying how I thought they would be, particularly on the a tag at the bottom of my home page */

* {
  margin: 0;
}

/* STYLE SECTIONING TAGS */
body {
  background-color: #EDEDE9; 
  color: #3F3F3F;
  font-family: "Georgia", "Times New Roman", Times, serif;   
}

header {
  background-color: #E3D5CA; 
  text-align: center;  
}

header h1 {
  margin-top: 0.25em; 
  margin-bottom: 0.5em; 
}

header h2 {
  padding-bottom: 0.5em; 
}

main {
  margin: 10px 10%;
  text-align: center; 
}

main a {
  margin-top: 10%; 
}

/* STYLE IMAGES */
header img {
  max-width: 100%; 
}

div img {
  max-width: 60%;
  border: 5px solid #E3D5CA; 
  border-radius: 10px; 
}

/* STYLE NAV BAR */